In [ ]:
import numpy as np
import matplotlib. pyplot as plt
import pandas as pd

In [ ]:
fake_data =[
    {'city':'lucknow','temp':30,'rainfall':10},
    {'city':'kanpur','temp':20,'rainfall':20},
    {'city':'agra','temp':10,'rainfall':30},
    {'city':'delhi','temp':40,'rainfall':40},
]

In [ ]:
pd.dataFrame(fake_data)

In [ ]:
data['city'] # single column output is called series

In [ ]:
data[['temp','rainfall']]#multiple columns output is called dataframe

In [ ]:
data.columns.to_list()

In [ ]:
#accessing row wise data
data.loc[2]# row index2

In [ ]:
data.loc[:2] # row index 0to3

In [ ]:
data.iloc[:2] # indexed location 0 to 2

In [ ]:
data.plot()

In [ ]:
data.plot(kind='bar')

In [ ]:
data.plot(kind='area')

In [ ]:
data.plot?